.expedition-groups
  background-color: rgba(32, 32, 32, 0.7)
  text-align: center
  padding-bottom: 20px

  h3
    color: white

  .links
    padding: 0 20px 0 40px
    display: flex
    flex-direction: row
    flex-wrap: wrap

    a
      flex: 1
