.reasons
  text-align: center
  padding: 0 2em 1em 2em

  h3.reasons-title
    font-size: xx-large
    color: black

  .reason
    display: flex
    flex-direction: row
    flex-wrap: wrap

    > div
      padding 1em
      flex: 1

    img
      border-radius: 67px
