.contributors
  padding: 0 0 10px 20px

  .museum-logos
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    align-items: center

    a
      text-align: center
      flex: 1
      padding: 2px 4px

      img
        height: 60px
