.expedition-group
  background-color: #202020

  .title
    display: flex
    align-items: center
    flex-flow: column

    .project-name
      padding-top: 40px

    a
      text-decoration: none

      h1
        color: #ddd
        margin-top: 0
        text-align: center

      svg
        margin: 0 auto
        background-color: #226764
        height: 100px
        width: 100px
        border-radius: 50px
        stroke: white
        fill: white
        border: 2px solid white

  hr
    margin: 20px 10px 30px 10px

  .tiles
    display: flex
    align-items: center
    flex-flow: row
    flex-wrap: wrap
    justify-content: space-around

    .tile
      max-width: 320px
      max-height: 320px
      font-weight: bold
      text-align: center
      align-self: center
      font-size: 20px
      padding-bottom: 20px

      a
        display: flex
        flex-flow: column
        text-decoration: none
        color: #96f132
        vertical-align: center

        span
          height: 60px

    img
      height: 240px
      width: 100%
