svg.expedition-group-icon, svg.expedition-group-home, svg.expedition-group-history
  background-color: #226764
  height: 100px
  width: 100px
  border-radius: 50px
  stroke: white
  fill: white
  border: 2px solid white
  transition: ease 0.75s

svg.expedition-group-history
  height: 32px
  width: 32px

svg.expedition-group-home
  background-color: white
  stroke: #226764
  fill: #226764
  transition: ease 0.75s

svg.expedition-group-icon:hover, svg.expedition-group-history:hover
  background-color: white
  border: 2px solid white
  stroke: #226764
  fill: #226764
  transition: ease 0.25s

a.home-alone
  text-decoration: none
  position: relative
  height: 100px

  svg.expedition-group-home
    background-color: #226764
    stroke: white
    fill: white
    transition: ease 0.75s

  &:hover svg.expedition-group-home
    background-color: white
    border: 2px solid white
    stroke: #226764
    fill: #226764
    transition: ease 0.25s
