svg.expedition-group-icon, svg.expedition-group-home
  background-color: #226764
  height: 100px
  width: 100px
  border-radius: 50px
  stroke: white
  fill: white
  border: 2px solid white
  transition: ease 0.75s

svg.expedition-group-home
  background-color: white
  border: 2px solid white
  stroke: #226764
  fill: #226764
  transition: ease 0.75s

svg.expedition-group-icon:hover
  background-color: white
  border: 2px solid white
  stroke: #226764
  fill: #226764
  transition: ease 0.25s
