.header
  background: rgba(213, 210, 210, 1)
  margin: 24px 60px 0 $lg-left-spacer
  padding: 4px 10px
  border-radius: 6px
  font-size: 12px
  color: white
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-content: space-between

  a
    flex: 1
    color: black
    text-decoration: none
    align-self: flex-end
    margin: 0 4px 0 0

    &.wide
      flex: 3

  a:hover,
  .login-info button:hover
    color: #96f132
    text-decoration: underline

  .login-info
    align-self: flex-end

    button
      color: black
      background-color: rgba(0, 0, 0, 0.0)
      border: none

  @media screen and (max-width: $sm-screen-width)
    margin: 8px 8px 0 $md-left-spacer

    a
      padding-top: 4px

    a.remove
      display: none
