.landing-app

  .landing
    .hero
      background: url("../images/landing/home.jpg")
      display: flex
      flex-direction: column
      min-height: 500px

      .landing-title
        color: white
        display: flex
        flex-flow: column
        text-align: center
        flex: 8
        align-items: center

        .action
          display: flex
          font-size: 18px
          font-weight: bold
          flex: 2

          span
            flex: 1
            align-self: flex-end

        hr
          width: 5em
          flex: 1

        .tagline
          font-weight: bold
          font-size: 40px
          flex: 1

          span.smaller
            font-weight: normal
            font-size: 22px

      .links
        padding: 0 20px 0 40px
        display: flex
        flex: 3
        align-items: center
        flex-flow: row
        background-color: rgba(0, 0, 0, 0.6)
        text-align: center

        .collection
          color: white
          flex: 1

          svg
            background-color: #96f132
            border-radius: 50px
            width: 100px
            height: 100px

            &:hover
              background-color: gainsboro

            image
              width: 100px
              height: 100px
              fill: #5b7676

          a
            color: white
            text-decoration: none

      .counters
        background-color: rgba(0, 0, 0, 0.9)
        color: white
        align-items: center
        flex: 1
        display: flex
        flex-flow: row
        text-align: center

        > div
          flex: 1

    .why
      background-color: white
      text-align: center

      .reasons
        display: flex
        flex-flow: row

        > div
          flex: 1
