.landing-app
  background-color: #e1e1e1

  .landing
    display: flex
    flex-direction: column
    height: 100%

    .hero
      background: url("../images/landing/home.jpg")
      display: flex
      flex-direction: column

      .landing-title
        color: white
        display: flex
        flex-flow: column
        text-align: center
        flex: 8
        align-items: center
        background-color: rgba(32, 32, 32, 0.2)
        min-height: 300px

        .action
          display: flex
          font-size: 18px
          font-weight: bold
          flex: 2

          span
            flex: 1
            align-self: flex-end

        hr
          width: 5em
          flex: 1

        .tagline
          font-weight: bold
          font-size: 40px
          flex: 2

          span.smaller
            font-weight: normal
            font-size: 22px

      .genera
        flex: 3
        background-color: rgba(32, 32, 32, 0.7)
        text-align: center
        padding-bottom: 20px

        h3
          color: white

        .links
          padding: 0 20px 0 40px
          display: flex
          flex-flow: row
          flex-wrap: wrap

          a
            flex: 1

            svg
              background-color: #226764
              height: 100px
              width: 100px
              border-radius: 50px
              stroke: white
              fill: white
              border: 2px solid white
              transition: ease 0.75s

              &:hover
                background-color: white
                border: 2px solid white
                stroke: #226764
                fill: #226764
                transition: ease 0.25s

      .counters
        background-color: rgba(32, 32, 32, 0.9)
        align-items: center
        flex: 1
        display: flex
        flex-flow: row
        text-align: center
        color: white
        padding-bottom: 10px

        > div
          flex: 1

        .numbers
          font-size: xx-large

    .why
      text-align: center
      padding: 0 2em 1em 2em

      .title
        font-size: xx-large

      .reasons
        display: flex
        flex-flow: row

        > div
          padding 1em
          flex: 1

        img
          border-radius: 67px
