{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "react/prefer-stateless-function": 1,
    "quotes": [
      2,
      "single"
    ],
    "eqeqeq": [
      2,
      "smart"
    ],
    "no-console": 1,
    // specify the maximum length of a line in your program
    // https://github.com/eslint/eslint/blob/master/docs/rules/max-len.md
    'max-len': [1, 100, 2, {
      'ignoreUrls': true,
      'ignoreComments': false,
      'ignorePattern': "\\s*(const|<path|<text)"
    }]
  }
}
