.active-expedition-group
  .hero
    background: url("../images/background/butterflies.png")

  .content
    .tiles
      .group-empty
        a
          font-size: 22px
          text-decoration: none
          font-weight: bold
          color: $dark-teal

          &:hover
            color: #65981d

      .tile
        max-width: 320px
        font-size: 20px
        margin: 20px 48px 20px 0

        .snippet
          font-size: 14px

        .snippet:hover, &:hover .snippet
          max-height: 300px

        .more-info
          top: 224px

        img
          height: 220px
