.active-expeditions
  background-color: #ededed
  display: flex
  flex-direction: column
  flex-wrap: wrap

  .hero
    background: url("../images/background/landing.jpg")

  .content
    position: relative

    .expedition-group-icon
      position: absolute
      top: -40px
      left: -20px
      height: 200px
      width: 200px
      border-radius: 100px
      background-color: rgba(0, 0, 0, 0)
      fill: rgba(0, 0, 0, 0)
      stroke: gray
      stroke-width: 1px
      border: 2px solid rgba(0, 0, 0, 0)

    .tiles
      margin: 48px 0 48px 120px
      display: flex
      align-items: center
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around

      .tile
        position: relative
        max-width: 320px
        font-weight: bold
        align-self: flex-start
        font-size: 20px
        padding-bottom: 20px

        .snippet
          top: 0
          max-height: 0
          color: white
          opacity: 0
          padding: 12px
          position: absolute
          font-size: 14px
          font-weight: normal
          transition: all 1.25s linear

        .snippet:hover, &:hover .snippet
          max-height: 300px
          opacity: 1
          background-color: rgba(0, 0, 0, 0.7)
          color: white
          transition: all 0.75s linear

        a
          display: flex
          flex-flow: column
          text-decoration: none
          color: #65981d

          .label
            max-width: 90%

          .completeness
            font-size: 12px

        .more-info
          color: #65981d
          position: absolute
          top: 224px
          right: 0

          i:hover
            color: #162D10

      img
        height: 220px
        width: 100%
        border 2px solid #65981d
