.completed-expedition-group
  .hero
    background: url("../images/background/birds.png")

  .content
    .tiles
      .tile
        max-width: 240px
        font-size: 16px
        margin: 10px 44px 10px 0

        .snippet
          font-size: 12px

        .snippet:hover, &:hover .snippet
          max-height: 240px

        .more-info
          top: 182px

        img
          height: 180px
