.field-book
  background-color: #202020
  padding: 0 12px
  color: white

  .field-book-title
    display: flex
    align-items: center
    flex-flow: column
    position: relative
    padding-bottom: 16px

  h2
    text-align: center

  .badges
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: center

    .badge
      max-width: 150px
      text-align: center

      img
        width: 100px
        height: 100px

      .description
        min-height: 96px
        padding: 0 4px
