.field-book
  position: relative
  color: white
  display: flex
  flex-direction: column
  flex-wrap: wrap

  .hero
    background: url("../images/background/butterflies.png")

  .content
    padding-left: $lg-left-spacer
    display: flex
    flex-direction: row
    flex-wrap: wrap
    background-color: #e8e7e9

    .left-content
      flex: 3
      padding-right: 20px
      padding-bottom: 40px
      margin-right: 50px

      hr
        border: 0
        border-bottom: 2px dotted $lime-green
        margin-bottom: 32px

      h2, h3
        color: $lime-green

    .right-content
      background-color: #535151
      flex: 1

  @media screen and (max-width: $md-screen-width)
    .content
      flex-direction: column
      padding-left: 0px

    .left-content
      flex: 1
      padding-left: 40px
      margin-right: 20px
