.landing
  background-color: #e1e1e1

  .hero
    background: url("../images/landing/home.jpg")
    display: flex
    flex-direction: column

    .landing-title
      color: white
      display: flex
      flex-flow: column
      align-items: center
      background-color: rgba(32, 32, 32, 0.2)
      padding: 80px 0

      .title
        padding: 0

      .action
        font-size: 18px
        font-weight: bold

      hr
        width: 5em

    .project-announcement-banner
      border: 2px solid
      border-radius: 0.2em
      box-shadow: 0 2px 4px rgba(black, 0.3)
      box-sizing: border-box
      color: white
      margin: 0 3vw
      padding: 0 1.5vw
      text-align: center
      font-weight: bold

      &.informational
        background: #226764

  .contributors
    background: linear-gradient(to bottom, #e1e1e1, white 40%, white)
