.landing
  background-color: #e1e1e1

  .hero
    background: url("../images/landing/home.jpg")
    display: flex
    flex-direction: column

    .landing-title
      color: white
      display: flex
      flex-flow: column
      align-items: center
      background-color: rgba(32, 32, 32, 0.2)
      padding: 80px 0

      .title
        padding: 0

      .action
        font-size: 18px
        font-weight: bold

      hr
        width: 5em

  .contributors
    background: linear-gradient(to bottom, #e1e1e1, white 40%, white)
