.landing
  display: flex
  flex-direction: column
  flex-wrap: wrap

  .hero
    background: url("../images/background/landing.jpg")

    @media screen and (max-width: $md-screen-width)
      padding-left: 32px
