.badge-container
  padding: 40px 0

  h2, h3
    margin: 0px 10px
    color: white
    margin: 32px 3px 10px 4px
    text-align: center

  hr
    border: 0
    border-bottom: 2px dotted white
    margin: 0px 10px 32px 10px

  .badge-name
    text-transform: uppercase
    font-weight: bold

  .badge
    text-align: center
    font-size: 12px
    margin: 0 16px

    img
      width: 70px
      height: 70px
      border: 1px solid #a2bb80
      border-radius: 35px

    .description
      min-height: 60px
      padding: 0 4px
