.contributors
  padding: 0 0 10px 20px
  background: linear-gradient(to bottom, #ececec, white 40%, white)
  padding-left: $lg-left-spacer
  color: $lime-green

  @media screen and (max-width: $md-screen-width)
    padding-left: 20px

  h3
    padding-bottom: 16px

  .museum-logos
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center

    a
      flex: 1
      text-align: center
      padding: 2px 12px 2px 0

      img
        height: auto
        max-width: 150px

    .pull-right
      margin-left: 32px
