.expedition-container
  padding-top: 40px

  .expeditions
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

    .expedition
      max-width: 160px
      font-weight: bold
      text-align: center
      align-self: center
      font-size: 10px
      padding-bottom: 20px

      a
        display: flex
        flex-flow: column
        text-decoration: none
        color: #96f132

        .label
          height: 80px
          max-width: 90%

      img
        height: 120px
        border 2px solid #65981e

      .label
        min-height: 70px
        padding: 0 4px
