.expedition-container
  padding-top: 40px

  .expeditions
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start

    .expedition
      max-width: 160px
      margin: 10px 44px 10px 0

      img
        height: $md-left-spacer
        border 2px solid $lime-green
