.expeditions
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: center

  .expedition
    max-width: 160px
    text-align: center
    font-weight: bold
    text-align: center
    align-self: center
    font-size: 10x
    padding-bottom: 20px

    a
      display: flex
      flex-flow: column
      text-decoration: none
      color: #96f132

      .label
        height: 80px
        max-width: 90%

    img
      height: 100px

    .label
      min-height: 70px
      padding: 0 4px
